/dts-v1/;

/ {
	model = "Nokia 4.2 (panther)";
	qcom,board-id = <11 2>;

	fragment@0 {
		target = <0xffffffff>;

		__overlay__ {
			qcom,mdss_dsi_sim_video {
				qcom,mdss-dsi-panel-name = "Simulator video mode dsi panel";
				qcom,mdss-dsi-panel-type = "dsi_video_mode";
				phandle = <0x11>;
			};
		};
	};

	__symbols__ {
	};

	__fixups__ {
	};

	__local_fixups__ {
	};
};
